/* #HeadingBG{
  background-color: pink;
}
.heading {
    color: red;
    background-color: blue;
  }
.CapitalPara {
    background-color: beige;
} */

p {
  margin: 5px;
  border: 10px ridge lightgreen;
}
.span {
  padding: 0px 5px;
  border-top: 2px solid black;
  border-bottom: 4px solid gray;
}